body, *:not(dialog) {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-ajuda {
    background-color: #202020;
    padding: 10px;
    text-align: center;
}

.nav-ajuda {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.nav-ajuda a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 6px;
    transition: 0.3s;
}

.nav-ajuda a.active, .nav-ajuda a:hover {
    background-color: #6366f1;
}

h1 { color: #fff; text-align:center; margin:10px 0; }

.park-container { display: flex; flex-direction: column; gap:20px; padding:15px; }

.area-01, .area-02, .area-03, .area-vagaG, .area-vagaP .corredor {
    display: flex;
    gap:10px;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x:auto;
}

.vaga {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vaga img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    border:2px solid #6366f1;
    object-fit: cover;
    transition: transform 0.2s;
    background-color: #2b2b2b;
}

.vaga span {
    position: absolute;
    color:#fff;
    font-weight:700;
    font-size:16px;
}

.vaga img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #6366f1;
}

/* Modal */
.modal-container { background:#202020; border:1px solid #fff; border-radius:24px; padding:18px; width:90%; max-width:400px; }
.modal-header { display:flex; justify-content:space-between; align-items:center; margin-bottom:12px; }
.modal-title { font-size:22px; font-weight:600; }
.close-modal { background:transparent; border:none; color:#fff; font-size:20px; cursor:pointer; }
.modal-body { display:flex; flex-direction:column; gap:10px; }
.input-group { display:flex; flex-direction:column; gap:3px; }
.input-group input { padding:8px; border-radius:8px; border:1px solid #d1d5db; }
.input-group input:focus { outline:1px solid #6366f1; }
.button-modal { background:#69ce29; border:none; border-radius:8px; padding:10px; color:#fff; cursor:pointer; transition:0.3s; }
.button-modal:hover { background:#55a826; }

/* Responsividade */
@media (max-width:480px) {
    .vaga img { width:45px; height:45px; }
}
