@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*:not(dialog) {
    font-family: 'Poppins', sans-serif;    
}

.modal-container{
    background-color: #202020;
    border: solid 1px #fff;
    box-sizing: border-box;
}


.open-modal {
    cursor: pointer;
}

dialog {
    border: none;
    width: 350px;
    border-radius: 24px;
    padding: 18px;
}

.modal-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 16px;
}

.modal-title{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.close-modal{
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
}

.modal-body{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.input-group label{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.input-group input{
    border: 1px solid #d1d5db;
    background-color: #f9fafb;
    border-radius: 8px;
    padding: 10px 16px;
}

.input-group input:focus{
    outline: 1px solid #6366f1;
}

.input-group select{
    border: 1px solid #d1d5db;
    background-color: #f9fafb;
    border-radius: 8px;
    padding: 10px 16px;
}

.input-group select:focus{
    outline: 1px solid #6366f1;
}

.button-modal{
    background-color: #69ce29
;
    border: none;
    border-radius: 8px;
    padding: 10px 16px;
    font-size: 18px;
    cursor: pointer;
}