<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="./css/vagas.css">
    <link rel="stylesheet" href="./css/menu.css">
    <link rel="stylesheet" href="./css/modal-vagas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Vagas</title>
</head>
<body>

    <!-- menu lateral correspondente a todas as paginas -->
    <div class="menu-container">
    <nav class="menu-lateral">

        <div class="btn-expandir">
            <i class="bi bi-list"></i>
        </div>

        <ul>
            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="bi bi-house-door"></i></span>
                    <span class="txt-link">Home</span>
                </a>
            </li>

            <li class="item-menu">
                <a href="financas.html">
                    <span class="icon"><i class="bi bi-coin"></i></span>
                    <span class="txt-link">Finança</span>
                </a>
            </li>

            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="bi bi-person-vcard-fill"></i></span>
                    <span class="txt-link">Cadastro de Clientes</span>
                </a>
            </li>

            <li class="item-menu item-select">
                <a href="vagas.html">
                    <span class="icon"><i class="bi bi-car-front-fill"></i></span>
                    <span class="txt-link">Vagas</span>
                </a>
            </li>

            <li class="item-menu">
                <a href="estoque.html">
                    <span class="icon"><i class="bi bi-cart4"></i></span>
                    <span class="txt-link">Estoque</span>
                </a>
            </li>

            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="bi bi-person-circle"></i></span>
                    <span class="txt-link">Perfil</span>
                </a>
            </li>

            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="bi bi-gear"></i></span>
                    <span class="txt-link">Opções</span>
                </a>
            </li>

            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="bi bi-question-circle"></i></span>
                    <span class="txt-link">Ajuda</span>
                </a>
            </li>
        </ul>

    </nav>

    <!-- java script menu -->

    <script src="./js/menu.js"></script>
    </div>

    <div>
        <header>
            <h1>Vagas</h1>
        </header>

        <div class="park-container">

        <div class="area-01">
            <div class="open-modal" data-modal="modal-1">
                <img  class="area-01-ponta" src="./img/vagaM_02.png"  alt="">
            </div>

            <div class="open-modal" data-modal="modal-2" >
                <img src="./img/vagaM_02.png" alt="">
            </div>

            <div>
                <img src="./img/vagaM_02.png" alt="">
            </div>

            <div>
                <img src="./img/vagaM_02.png" alt="">
            </div>

            <div>
                <img src="./img/vagaM_02.png" alt="">
            </div>

            <div>
                <img src="./img/vagaM_02.png" alt="">
            </div>

            <div>
                <img src="./img/vagaM_02.png" alt="">
            </div>

            <div>
                <img src="./img/vagaM_02.png" alt="">
            </div>
        </div>


        <div class="area-02">
            <div class="area-vagaG">
                <div class="area-02-vagaG-ponta">
                    <img src="./img/vagaG.png" alt="">
                </div>
                
                <div>
                    <img src="./img/vagaG.png" alt="">
                </div>

                <div>
                    <img src="./img/vagaG.png" alt="">
                </div>

                <div>
                    <img src="./img/vagaG.png" alt="">
                </div>
                
                <div>
                    <img src="./img/vagaG.png" alt="">
                </div>

                <div>
                    <img src="./img/vagaG.png" alt="">
                </div>
            </div>

            <div class="area-vagaP">
                <div class="corredor-01">
                    <div class="area-02-vagaP-ponta">
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>
                </div>

                <div class="corredor-02">
                    <div class="area-02-vagaP-ponta">
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>
                    
                </div>

                <div class="corredor-02">
                    <div class="area-02-vagaP-ponta">
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>

                    <div>
                        <img src="./img/vagaP.png" alt="">
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="area-03">
            <div>
                <img  class="area-01-ponta" src="./img/vagaM_03.png" alt="">
            </div>

            <div>
                <img src="./img/vagaM_03.png" alt="">
            </div>

            <div>
                <img src="./img/vagaM_03.png" alt="">
            </div>

            <div>
                <img src="./img/vagaM_03.png" alt="">
            </div>

            <div>
                <img src="./img/vagaM_03.png" alt="">
            </div>

            <div>
                <img src="./img/vagaM_03.png" alt="">
            </div>

            <div>
                <img src="./img/vagaM_03.png" alt="">
            </div>

            <div>
                <img src="./img/vagaM_03.png" alt="">
            </div>
        </div>
        </div>

    </div>

    <dialog id="modal-1" class="modal-container">
        <form>
            <div class="modal-header">
                <h1 class="modal-title">
                    Vaga - M - 01
                </h1>

            <button class="close-modal" data-modal="modal-1" type="button">
                <i class="fa-solid fa-xmark"></i>
            </button>
            </div>

            <div class="modal-body">
                    <div class="input-group">
                        <label for="marca-veiculo">Selecione a marca do veiculo </label>
                        <select name="marca-veiculo" id="marca-veiculo" required>
                            <option value="">Selecione</option>
                            <option value="">Ford</option>
                            <option value="">Chevrolet</option>
                            <option value="">Volkswagen</option>
                            <option value="">Hyundai</option>
                            <option value="">Toyota</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <label for="modelo-veiculo">Selecione o modelo do veiculo </label>
                        <select name="modelo-veiculo" id="modelo-veiculo" required>
                            <option value="">Selecione</option>
                            <option value="">Ka</option>
                            <option value="">Ecosport</option>
                            <option value="">Fusion</option>
                            <option value="">Fiesta</option>
                            <option value="">Ranger</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <label for="placa-veiculo">
                            Digite a placa do veiculo
                        </label>

                        <input type="text"
                        id="placa-veiculo"
                        name="placa-veiculo"
                        placeholder="placa do veiculo"
                        required
                        >
                    </div>

                    <div class="input-group">
                        <label for="entrada-veiculo">Horario de entrada do veiculo</label>
                        <input type="time"
                        id="entrada-veiculo"
                        name="entrada-veiculo"
                        required
                        >
                    </div>

                    <div class="input-group">
                        <label for="data-entrada-veiculo">Dia da entrada do veiculo</label>
                        <input type="date"
                        id="data-entrada-veiculo"
                        name="data-entrada-veiculo"
                        required
                        >
                    </div>

                    <button type="submit" class="button-modal">
                        confirmar
                    </button>
            </div>



        </form>
    </dialog>

    <dialog id="modal-2" class="modal-container">
        <form>
            <div class="modal-header">
                <h1 class="modal-title">
                    Vaga - M - 02
                </h1>

            <button class="close-modal" data-modal="modal-2" type="button">
                <i class="fa-solid fa-xmark"></i>
            </button>
            </div>

            <div class="modal-body">
                    <div class="input-group">
                        <label for="marca-veiculo">Selecione a marca do veiculo </label>
                        <select name="marca-veiculo" id="marca-veiculo" required>
                            <option value="">Selecione</option>
                            <option value="">Ford</option>
                            <option value="">Chevrolet</option>
                            <option value="">Volkswagen</option>
                            <option value="">Hyundai</option>
                            <option value="">Toyota</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <label for="modelo-veiculo">Selecione o modelo do veiculo </label>
                        <select name="modelo-veiculo" id="modelo-veiculo" required>
                            <option value="">Selecione</option>
                            <option value="">Ka</option>
                            <option value="">Ecosport</option>
                            <option value="">Fusion</option>
                            <option value="">Fiesta</option>
                            <option value="">Ranger</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <label for="placa-veiculo">
                            Digite a placa do veiculo
                        </label>

                        <input type="text"
                        id="placa-veiculo"
                        name="placa-veiculo"
                        placeholder="placa do veiculo"
                        required
                        >
                    </div>

                    <div class="input-group">
                        <label for="entrada-veiculo">Horario de entrada do veiculo</label>
                        <input type="time"
                        id="entrada-veiculo"
                        name="entrada-veiculo"
                        required
                        >
                    </div>

                    <div class="input-group">
                        <label for="data-entrada-veiculo">Dia da entrada do veiculo</label>
                        <input type="date"
                        id="data-entrada-veiculo"
                        name="data-entrada-veiculo"
                        required
                        >
                    </div>

                    <button type="submit" class="button-modal">
                        confirmar
                    </button>
            </div>



        </form>
    </dialog>
    
    <script src="./js/modal-vagas.js"></script>

</body>
</html>